.DS_Store
xcuserdata
project.xcworkspace
/src/cc*
/src/downloaded.txt
/src/cocos2d-x
/node_modules
/.id
/build*.log
/0.*
/1.*
/2.*
/3.*
/4.*
/latest
/templates/*/*/lib
/*.patch
/publish.sh
libexepath.txt
msbuildpath.txt
vctargetspath.txt

